<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Empire</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500italic,500,400italic,300italic,300,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body id="Login-Body">

    <div class="login-form">
        <h2>Welcome to Empire!</h2>

        <div class="input-field">
            <label for="UsernameField">Username/Email</label>
            <input type="text" id="UsernameField" placeholder="enter username or email" />
        </div>
        <div class="input-field">
            <label for="PasswordField">Password</label>
            <input type="password" id="PasswordField" placeholder="enter password" />
        </div>

        <span class="btn btn-primary" id="SignInButton">Sign In</span>
    </div>

</body>
</html>