$font-family-fancy: 'Cinzel Decorative', cursive;
$font-family-basic: 'Raleway', sans-serif;

$color-black: '#000000';
$color-off-black: '#282828';
$color-gray-5: '#4e4e4e';
$color-gray-4: '#747474';
$color-gray-3: '#9a9a9a';
$color-gray-2: '#c0c0c0';
$color-gray-1: '#e6e6e6';
$color-off-white: '#f3f3f3';
$color-white: '#ffffff';
$color-primary: '#531253';
$color-secondary: '#94D1BE';
$color-opal: '#9DB5B2';
$color-lcyan: '#DAF0EE';
$color-green: '#209220'; //#2ed12e
$color-red: '#e00918';